// Variables

// color
$color-red: #ef4836;
$color-white: #fff;
$color-white-grey: #fcfcfc;
$color-blue: #2866bd;
$color-black-dark: #020407;
$color-bg-black: #131313;

// font-size
$font-base: 16px;
$font-less: 14px;
$font-btn: 18px;
$font-h1: 66px;
$font-h3: 24px;
$font-title-form: 26px;

// Relaway
$font-raleway: 'Raleway', sans-serif;


