* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-raleway;
    color: $color-white;
}

img {
    max-width: 100%;
}

.hero {

    background-color: $color-black-dark;
}